* {
    padding: 0;
    margin: 0;
    font-family: "Inter";
}
body {
    background-color: #F5F5F7;
}

nav {
    display: flex;
    width: 1240px;
    height: 72px;
    background-color: #F5F5F7;
    align-items: center;
    margin: auto;
}
    .logo {

        width: 110px;
        height: 29px;
        background-color: #F0EDFF;
        color: #5B47D1;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        padding: 11px 19px 10px 23px;
        margin: 11px 83px 11px 12px;
}
    .navigacia {
        font-weight: 500;
        font-size: 24px;
        padding:0%;
        margin: 22px 244px 21px 83px;
    }
        .navigacia a {
            color: #000000;
            text-decoration: none;
            padding: 5px;
        }

.title {
    width: 100%;
    height: 400px;
    background-image: url(../image/e11fe0289d1ad6e93656e54c43b99f9275d82560.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
}

.title h1 {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    align-content: center;
    margin-bottom: 20px;
}

.title h3 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    text-align: center;

}

.card-title {
    grid-column: 1/-1;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #000000;
    padding-bottom: 20px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 29px;
    margin: 45px 150px 151px 170px;
}
    .cards img {
        display: flex;
        width: 380px;
        height: 240px;
        margin-bottom: 0px;
    }
    .box {
        background-color: white;
        padding: 15px 19px 17px 19px;
    }
        .cards span {
        font-size: 13px;
        font-weight: 400;
    }
    .cards span.date {
        font-size: 13px;
        font-weight: 400;
        margin-right: 28px;
    }
    .cards h3 {
        font-size: 22px;
        font-weight: 600;
        margin-top: 15px;
        background-color: white;
        margin-bottom: 6px;
    }
    .cards p {
        font-size: 15px;
        font-weight: 400;
    }

footer {
    background-color: #252424;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 82px;
    row-gap: 34px;
}
    footer h3 {
        font-size: 20px;
        font-weight: 600;
        color: #FFFFFF;
        margin-bottom: 11px;
    }
        #about {
            margin-top: 57px;
            margin-left: 452px;
        }
        .about {
            width: 296px;
            height: 68px;
            font-size: 14px;
            font-weight: 400;
            color: #A1A1A6;
            margin-left: 452px;
        }

        #contact {
            margin-left: 452px;
            margin-top: -60px;
        }
        .contact p {
            font-size: 14px;
            font-weight: 400;
            color: #A1A1A6;
            margin-left: 452px;
            margin-bottom: 11px;
        }
            .contact p.bolop {
                margin-bottom: 36px;
            }

        #kategories {
            margin-top: 57px;
        }
            ul li {
                font-size: 14px;
                font-weight: 600;
                color: #A1A1A6;
                margin-bottom: 11px;
            }

        .bolo {
            display: flex;
            height: 55px;
            background-color: #020202;
            text-align: center;
            align-items: center;
            align-content: center;
            justify-content: center;
            font-size: 13px;
            font-weight: 600;
            color: #86868B;
        }





